.decor {

  max-width: 600px ;
  display: flex;
  margin: 62px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #010101;
  border-radius: 10px;
  box-shadow: 10px 3px rgba(255, 89, 0, 0.528), -1em 0 .4em rgba(128, 45, 0, 0.591);
  border: 5px solid rgba(235, 97, 5, 0.664);
  background-color: rgba(117, 18, 1, 0.2);
}

.title{
  font-family: Dancing Script;
  font-size: 50px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(80, 59, 1, 0.517);
  background-color: rgb(232, 168, 129);
  border: 8px solid rgb(197, 111, 50);
  
}
