.list{
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 145, 0, 0.342);
    border: 2px solid rgba(233, 47, 47, 0.486); 
    box-shadow: 12px 12px 2px 1px rgba(80, 59, 1, 0.517);
}

.item{
    display: flex;  
    justify-content: space-between;
    width: auto;
    padding: 15px;
    border-radius: 6px;
    border: 2px solid rgba(233, 47, 47, 0.486); 

}

.item:not(:last-child){
    margin-bottom: 8px;
}

.span{
    font-size: 20px;
    min-width: 130px;
    color: brown;
}

.btn{

    width: 100px;
    height: 30px;
    padding: 4px;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    color: rgb(117, 18, 1);
    background-color: rgb(219, 86, 86);
    border: 2px solid rgba(240, 50, 50, 0.575); 

}

.btn:hover{
    background-color: crimson;
    color: aliceblue;
}